In [1]:
#necessary imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
cell_df=pd.read_csv('test.csv')
cell_df.head()

,I,II,III,avR,avL,avF,V1,V2,V3,V4,V5,V6
0,0.031,-1.149,-1.179,0.558,0.606,-1.164,0.166,0.258,0.573,0.129,-0.383,0.012
1,0.029,-1.149,-1.177,0.559,0.604,-1.163,0.168,0.259,0.574,0.128,-0.384,0.014
2,0.030,-1.145,-1.175,0.557,0.603,-1.159,0.166,0.259,0.576,0.129,-0.381,0.015
3,0.028,-1.147,-1.175,0.559,0.602,-1.161,0.162,0.259,0.576,0.128,-0.382,0.016
4,0.029,-1.149,-1.179,0.559,0.605,-1.163,0.162,0.258,0.577,0.128,-0.382,0.015